{
  "id": {{idJson}},
  "name": {{nameJson}},
  "version": "{{version}}",
  "minAppVersion": {{minAppJson}},
  "description": {{descriptionJson}},
  "author": {{authorJson}},{{authorUrlLine}}
  "isDesktopOnly": {{isDesktopOnly}}
}
